:root {
  --white: #ffffff;
  --gray: #d9d9d9;
  --black: #000000;
  --primary-color: #02073e;
  --secondary-color: #0f2137;
  --dark-secondary-color: #626a97;
  --tertiary-color: #a6b1e1;
  --light-tertiary-color: #f3f6fb;
  --text-color: #343d48;
  --blue-soft: rgb(30, 30, 63);
  --blue-second: rgb(83, 83, 131);
  --font-family: 'DM Sans', sans-serif;
}
