footer {
  background-color: var(--light-tertiary-color);
}

footer .footer__content {
  text-align: center;
  padding: 6rem 2rem 1rem;
  max-width: 47rem;
}

footer .footer__content .footer__contact span {
  display: block;
  font-weight: 500;
}

footer .footer__content ul li {
  display: inline-block;
}

footer .footer__content ul a {
  display: inline-block;
  padding: 1rem;
}

footer .footer__content .footer__copyright {
  font-size: 1.4rem;
}

.footer__content  .mb-l a {
font-size: 32px;
color: var(--blue-soft);
}

.footer__content  .mb-l a:hover {
  color: var(--blue-second);
}

.contact {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.e-mail {
  display: flex;
  justify-content: center;
  gap: 10px;
}
